<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:28px; border-radius:8px; box-shadow:0 2px 8px #00004733;" src='alinco.png' width="120"/>
<div style="margin-left:150px;">
<h1 style="color:#000047; font-size:2.3em; margin-bottom:0;">Actividad 4</h1>
<h2 style="color:#003366; font-size:1.3em; margin-top:0;">Creación de Modelo de Red Neuronal</h2>
</div>
<br style="clear:both"/>
</div>

<div style="border-left:6px solid #000047; padding:18px; margin-top:18px; background:#f5f5f5; border-radius:8px;">
<span style="font-size:1.1em;"><b>Objetivo:</b> 
Crear un modelo de red neuronal para predecir si una persona padecerá de diabetes. Antes de crear el modelo hacer un análisis exploratorio de datos sencillo usando la librería de clase HyAIA</span>
<ul style="margin-top:10px;">
<li>Procesamiento de datos.</li>
<li>Identificar y tratar valores faltantes si existen.</li>
<li>Identificar y tratar Outliers si existen.</li>    
</ul>
</div>

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('pima-diabetes.csv')

In [6]:
data.head()

,n_pregnant,glucosa,blood_presure,triceps_thickness,serum_insulin,body_mass,diabetes_pedigree,age,Class_variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
data.shape

(768, 9)

In [8]:
data.describe()

,n_pregnant,glucosa,blood_presure,triceps_thickness,serum_insulin,body_mass,diabetes_pedigree,age,Class_variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   n_pregnant         768 non-null    int64
 1   glucosa            768 non-null    int64
 2   blood_presure      768 non-null    int64
 3   triceps_thickness  768 non-null    int64
 4   serum_insulin      768 non-null    int64
 5   body_mass          768 non-null    float64
 6   diabetes_pedigree  768 non-null    float64
 7   age                768 non-null    int64
 8   Class_variable     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB